<div class="container">
<table class="table table-hover">
    <thead>
        <tr>
            <td>ToDo Description</td>
            <td>Priority</td>
            <td>Status</td>
            <td>Due Date</td>
            <td>Due Time</td>
            <td>User</td>
            <td>Actions</td>
      </tr>
    </thead>

    <!-- <pre>{{todos | json }}</pre> -->
    <tbody>
        <tr *ngFor="let todo of todos">
            <td>{{ todo.description }}</td>
            <td>{{ todo.status }}</td>
            <td>{{ todo.priority }}</td>
            <td>{{ todo.dueDate }}</td>
            <td>{{ todo.dueTime }} </td>
            <td><a [routerLink]="['/todos/edit', todo.id]" class="btn btn-primary">Edit</a></td>
            <td><a (click) = "deleteToDo(todo.id)" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>

</table>
</div>