<div class="container">
  <!-- <div class="card-body"> -->
  <form [formGroup]="form" (ngSubmit)="onSubmit(description.value, status.value, priority.value, dueDate.value, dueTime.value)">
    <div class="form-group">
      <label>ToDo Description</label>
      <textarea class="form-control" rows="3" formControlName="description" #description></textarea>
    </div>

    <div *ngIf="form.controls['description'].invalid && (form.controls['description'].dirty || form.controls['description'].touched)" class="alert alert-danger">
      <div *ngIf="form.controls['description'].errors.required">
        To-Do description is required.
      </div>
    </div>

    <div class="form-group">
     <label>Status</label>
     <!-- <input type="text" class="form-control" formControlName="status" #status/> -->
      <select class="form-control" formControlName="status" #status>
       <option>Not started</option>
       <option>In progress</option>
       <option>Completed</option>
     </select>
    </div>

    <div *ngIf="form.controls['status'].invalid && (form.controls['status'].dirty || form.controls['status'].touched)" class="alert alert-danger">
      <div *ngIf="form.controls['status'].errors.required">
        To-Do status is required.
      </div>
    </div>

    <div class="form-group">
     <label>Priority</label>
     <input type="text" class="form-control" formControlName="priority" #priority/>
      <!-- <select class="form-control" formControlName="priority" #priority>
       <option>Low</option>
        <option>Medium</option>
        <option>High</option>
      </select> -->
    </div>

    <div *ngIf="form.controls['priority'].invalid && (form.controls['priority'].dirty || form.controls['priority'].touched)" class="alert alert-danger">
      <div *ngIf="form.controls['priority'].errors.required">
        To-Do priority is required.
      </div>
    </div>
 
    <div class="form-group">
     <label>Due Date</label>
     <input  type="text" class="form-control" formControlName="dueDate" placeholder="MM/DD/YYYY" #dueDate/>
    </div>

    <div *ngIf="form.controls['dueDate'].invalid && (form.controls['dueDate'].dirty || form.controls['dueDate'].touched)" class="alert alert-danger">
      <div *ngIf="form.controls['dueDate'].errors.required">
        To-Do deadline is required.
      </div>
    </div>

    <div class="form-group">
      <label>Due Time</label>
      <input  type="text" class="form-control" formControlName="dueTime" placeholder="HH:MM" #dueTime/>
     </div>
 
     <div *ngIf="form.controls['dueTime'].invalid && (form.controls['dueTime'].dirty || form.controls['dueTime'].touched)" class="alert alert-danger">
       <div *ngIf="form.controls['dueTime'].errors.required">
         To-Do deadline is required.
       </div>
     </div>

   
    <div class="form-group">
       <button type="submit" class="btn btn-primary" [disabled]="form.pristine || form.invalid">Add ToDo</button>
    </div>

    </form>
  <!-- </div> -->
</div>
